@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Variable */
:root {
  /* font-family*/
  --font-kr: 'Noto Sans KR', sans-serif;
  --font-eng: 'Open Sans', sans-serif;
  /* font weight */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
  /* color */
  --color-blue: #0345fc;
  --color-dark-blue: #003688;
  --color-light-blue: #61a0ff;
  --color-BG-blue: #dbeaff;
  --color-white: #fff;
  --color-opacity-white: rgba(255, 255, 255, 0.76);
  --color-black: #000;
  --color-grey: rgb(95, 95, 95);
  --color-light-grey: rgb(221, 221, 221);
  --color-dark-grey: rgb(27, 27, 27);
  --color-red: rgb(255, 89, 89);
}

/* Universe */
* {
  /* margin */
  margin: 0;
  /* padding */
  padding: 0;
  /* box-sizing */
  box-sizing: border-box;
}

/* a */
a {
  /* text */
  text-decoration: none;
  /* cursor */
  cursor: pointer;
}
/* ul li */
ul,
li {
  list-style: none;
}
/* button */
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Header */
#total__header {
  /* size */
  width: 100vw;
  height: 100%;
  /* background */
  background-color: var(--color-dark-blue);
  /* flex */
  display: flex;
  justify-content: center;
}

.header__link__box {
  /* max-width */
  max-width: 1200px;
  /* size */
  width: 100%;
  height: 100%;
  /* flex */
  display: flex;
  align-items: center;
}

.header__link__box > a {
  /* display */
  display: inline-block;
  /* text */
  text-decoration: none;
  /* color */
  color: var(--color-white);
  /* font */
  font-family: var(--font-kr);
  font-size: 0.8rem;
  /* size */
  height: 100%;
  /* padding */
  padding: 10px 50px;
}
/* hover */
.header__link__box > a:hover {
  /* background */
  background-color: var(--color-light-blue);
}
/* header a */
.header__link__box > a:nth-of-type(1) {
  /* background */
  background-color: var(--color-white);
  /* font */
  color: var(--color-dark-blue);
}

/* Header Responsive */
@media screen and (max-width: 500px) {
  #total__header {
    /* display */
    display: none;
  }
}

/* Nav
------------------------------------------ */
nav {
  /* overflow */
  overflow-x: clip;
  /* width */
  width: 100%;
  /* position */
  position: sticky;
  top: 0;
  /* font */
  font-family: var(--font-kr);
  /* background */
  background-color: var(--color-white);
  /* box-shadow */
  -webkit-box-shadow: 0px 6px 5px -6px #000000;
  box-shadow: 0px 6px 5px -6px #000000;
  /* z-index */
  z-index: 1000;
}

/* logo */
nav .logo {
  /* float */
  float: left;
  /* font */
  font-family: var(--font-kr);
  font-size: 2rem;
  font-weight: var(--font-bold);
  color: var(--color-dark-blue);
  /* text */
  line-height: 70px;
  /* padding */
  padding-left: 60px;
}

/* nav after */
nav::after {
  /* content */
  content: '';
  clear: both;
  /* display */
  display: table;
}

/* nav ul */
nav ul {
  /* float */
  float: right;
  /* margin */
  margin-right: 40px;
  /* position */
  position: relative;
}

nav ul li {
  /* float */
  float: left;
  /* display */
  display: inline-block;
  /* margin */
  margin: 0 5px;
}

nav ul li a {
  /* font */
  font-weight: var(--font-bold);
  color: var(--color-black);
  /* text */
  line-height: 70px;
  /* font */
  font-size: 0.9rem;
  /* padding */
  padding: 8px 15px;
  /* transition */
  transition: all 300ms ease-in-out;
}

nav ul li a:hover {
  /* font */
  color: var(--color-dark-blue);
}

nav ul ul {
  /* opacity */
  opacity: 0;
  /* visible */
  visibility: hidden;
  /* position */
  position: absolute;
  top: 50px;
  /* background */
  background-color: var(--color-light-grey);
  /* transition */
  transition: all 350ms ease-in-out;
}

nav ul li:hover > ul {
  /* top */
  top: 70px;
  /* opacity */
  opacity: 1;
  /* visible */
  visibility: visible;
}

nav ul ul li {
  /* position */
  position: relative;
  /* margin */
  margin: 0;
  /* width */
  width: 140px;
  /* float */
  float: none;
  /* display */
  display: list-item;
  /* border */
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

nav ul ul li a {
  /* text */
  line-height: 50px;
}

/* show */
.show,
.icon,
input {
  display: none;
}

/* Responsive Nav*/
@media all and (max-width: 968px) {
  /* nav */
  nav ul {
    /* margin */
    margin-right: 0px;
    /* float */
    float: left;
  }
  nav .logo {
    /* padding */
    padding-left: 30px;
    /* width */
    width: 100%;
    /* font */
    font-size: 1.5rem;
  }

  nav ul li,
  nav ul ul li {
    /* display */
    display: block;
    /* width */
    width: 100%;
  }

  nav ul ul {
    /* position */
    top: 70px;
    position: static;
    /* float */
    float: none;
    /* display */
    display: none;
    opacity: 1;
    visibility: visible;
    /* background */
    background-color: var(--color-white);
  }
  nav ul ul li {
    /* border */
    border: none;
  }
  nav ul ul a {
    /* padding */
    padding-left: 70px;
  }
  /* show */
  .show {
    /* display */
    display: block;
    /* font */
    font-size: 0.9rem;
    /* padding */
    padding: 0 30px;
    /* text */
    line-height: 70px;
    /* cursor */
    cursor: pointer;
    /* font */
    font-weight: var(--font-bold);
  }
  .show:hover {
    /* font */
    color: var(--color-dark-blue);
  }
  .icon {
    /* display */
    display: block;
    /* position */
    position: absolute;
    right: 45px;
    /* text */
    line-height: 70px;
    /* font */
    font-size: 2rem;
    /* cursor */
    cursor: pointer;
  }
  .show + a,
  .nav__ul {
    /* display */
    display: none;
  }
  [id^='btn']:checked + ul {
    display: block;
  }
}

/* Footer */
footer {
  /* size */
  width: 100vw;
  height: 100%;
  /* background */
  background-color: var(--color-light-grey);
  /* padding */
  padding: 35px 0;
  /* flex */
  display: flex;
  justify-content: center;
}

#footer__contents__box {
  /* max-width */
  max-width: 1200px;
  /* width */
  width: 100%;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  /* padding */
  padding: 0 20px;
}

#footer__contents__box section {
  /* font */
  font-family: var(--font-kr);
  font-size: 0.8rem;
}

#footer__contents__box section a {
  /* font */
  font-weight: var(--font-bold);
  color: var(--color-black);
  /* padding */
  padding-left: 10px;
  /* transition */
  transition: color 300ms ease-in-out;
}

#footer__contents__box section a:hover {
  /* font */
  color: var(--color-grey);
}

#footer__contents__box section p {
  /* text */
  line-height: 25px;
}

#footer__contents__box section span {
  /* display */
  display: block;
  /* font */
  font-size: 0.65rem;
  color: var(--color-grey);
  /* padding */
  padding-top: 10px;
}

/* Footer  Responsive*/
@media screen and (max-width: 670px) {
  /* footer contents box */
  #footer__contents__box {
    /* flex */
    align-items: center;
    /* padding */
    padding: 0 20px;
  }
  /* contents box a */
  #footer__contents__box section a {
    /* padding */
    padding: 0;
  }
  #footer__contents__box section a:nth-of-type(2) {
    /* padding */
    padding-left: 10px;
  }
  /* contents box p */
  #footer__contents__box section p {
    /* text */
    text-align: center;
  }
  #footer__contents__box section span {
    /* text */
    text-align: center;
  }
}

/* Scroll Up */
.scrollUp {
  /* font */
  font-size: 1.3rem;
  color: var(--color-white);
  /* position */
  position: fixed;
  right: 30px;
  bottom: 50px;
  /* size */
  width: 50px;
  height: 50px;
  /* background */
  background-color: var(--color-dark-blue);
  /* border */
  border-radius: 50%;
  /* opacity */
  opacity: 0;
  /* visible */
  visibility: hidden;
  /* transition */
  transition: all 250ms ease-in-out;
  /* z-index */
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .scrollUp {
    /* font */
    font-size: 1rem;
    /* size */
    width: 40px;
    height: 40px;
  }
}

.scrollUp-active {
  /* opacity */
  opacity: 1;
  /* visible */
  visibility: visible;
}
