
/* Map */
iframe {
  /* display */
  display: block;
  /* max-width */
  max-width: 1200px;
  /* size */
  width: 90%;
  height: 400px;
}

/* info */
#info {
  /* max-width */
  max-width: 1200px;
  /* size */
  width: 90%;
  height: 100%;
  /* padding */
  padding: 60px 10px;
  /* flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Left */
.info__icon {
  /* font */
  color: var(--color-red);
}

.address {
  /* padding */
  padding-bottom: 20px;
  /* font */
  font-family: var(--font-kr);
  font-size: 1.4rem;
}

.tel {
  /* flex */
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Right */
.right__info {
  /* flex */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.right__info button {
  /* font */
  font-family: var(--font-kr);
  font-size: 1rem;
  /* size */
  width: 180px;
  height: 50px;
}

.detail {
  /* font */
  color: var(--color-white);
  background-color: var(--color-red);
}

.print {
  /* border */
  border: 1px solid var(--color-black);
}

/* Responsive */
@media (max-width: 1030px) {
  /* info */
  #info {
    /* flex */
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 575px) {
  /* address */
  .address {
    /* font */
    font-size: 1.2rem;
  }
  
  .tel {
    /* flex */
    flex-wrap: wrap;
  }
}

@media (max-width: 490px){
  /* Map */
  iframe {
    /* size */
  height: 300px;
  }
  /* address */
  .address {
    /* font */
    font-size: 0.9rem;
  }
  /* Right */
  .right__info {
    /* size */
    width: 100%;
  }
  /* right__info button */
  .right__info button {
    /* size */
    width: 100%;
    height: 50px;
  }
}

/* transportation */
#transpor{
  /* font */
  font-family: var(--font-kr);
  /* max-width */
  max-width: 1200px;
  /* size */
  width: 90%;
  height: 100%;
  /* padding */
  padding: 60px 0;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#transpor > article{
  /* size */
  width: 100%;
  height: 100%;
  /* padding */
  padding: 30px;
  /* border */
  border: 1px solid var(--color-light-grey);
  border-radius: 10px;
}

.transpor__title{
  /* font */
  font-size: 1.3rem;
  color: var(--color-grey);
  /* padding */
  padding-bottom: 30px ;
}

.public__box{
  /* size */
  width: 100%;
  height: 100%;
  /* flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.public__transpor{
  /* padding */
  padding-bottom: 20px;
  /* flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.transpor__icon{
  /* font */
  font-size: 2.4rem;
  color: var(--color-grey);
  /* text */
  text-align: center;
   /* padding */
   padding: 12px 22px;
  /* background */
  background-color: var(--color-light-grey);
  /* border */
  border-radius: 50%;
 
}

.transpor__text__box > p{
  /* font */
  font-size: 0.8rem;
  /* size */
  width: 320px;
}

.transpor__text__box > h4{
  /* font */
  font-size: 1rem;
  color: var(--color-red);
  /* padding */
  padding-bottom: 5px;
}

.subway__highlight{
  /* font */
  color: var(--color-yellow);
}

.bus__highlight__normal{
  /* font */
  color: var(--color-green);
}

.bus__highlight__city{
  color: var(--color-yellow);
}


/* Responsive */
@media (max-width:1000px){
  #transpor{
    /* flex */
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .public__transpor{
    /* flex */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .transpor__text__box{
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .transpor__text__box > p{
    /* text */
    text-align: center;
  }
  
}

@media (max-width:780px){
  #transpor > article{
    /* padding */
    padding: 30px 0;
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   /* public */
   .public__box{
   /* flex */
   flex-direction: column;
   gap: 50px;
  }
}
